
html, body, canvas {
  margin: 10px;
  background: white;
  /*background-image: url('http://res.cloudinary.com/dg0cmca7a/image/upload/v1490854449/306fddfb08d26c2962d0965592cc1f26_j4yeov.jpg')*/
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moray-container {
  /*background: white;*/
  width: 533px;
}

.moray-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 27px;
  margin-right: 5px;
  border: 1px solid #22144C;
  padding: 10px;
  color: #6F42A2;
}

.moray-title {
  border-right: 1px solid #22144C;
}

.moray-h1 {
  color: #22144C;
  flex-direction: row;
  font-size: 36px;
  font-weight: bold;
}

.moray-h2 {
  font-size: 14px;
}

.moray-details {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  margin-left: 14px;
  font-size: 14px;
}

.moray-desc {

}

.moray-h3 {
  color: #6F42A2;
  flex-direction: row;
  font-size: 14px;
  margin-top: 10px;
}

#canvas {
  /*position: absolute;*/
  justify-content: center;
  align-items: center;
  margin: 5%;
  background: #22144C;
  border: gray 2px solid
}
