
html, body {
  padding: 0px;
  margin: 0px;
  background: lightgray;
  height: 100%;
  margin 0;
  overflow: hidden;
}

h1 {
  color: black;
  flex-direction: row;
}

canvas {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 5%;
  background: lightblue;
  border: gray 1px solid
}

p {
  display: block;
  justify-content: left;
}
