
html, body, canvas {
  padding: 0px;
  margin: 0px;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: black;
  flex-direction: row;
}

canvas {
  margin-top: 5%;
  background: lightblue;
  border: gray 1px solid
}

p {
  display: block;
  justify-content: left;
}
